@import "../../../styles/base/variables";
@import "../../../styles/base/typography";

.button {
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  transition: background-color .2s;

  &.m {
    padding: 8px 32px;
  }

  &.l {
    padding: 12px 32px;
  }

  &.xl {
    padding: 14px 32px;
  }

  &.primary {
    background-color: gray;
    color: white;

    &:hover {
      opacity: .5;
    }

    &.disabled {
      opacity: .1;
    }

    &:focus {
      border: 2px solid var(--ml-100);
      outline: 2px solid var(--ml-800);
      outline-offset: -4px;
    }
  }

  &.secondary {
    background-color: white;
    color: gray;

    &:hover {
      opacity: .5;
    }

    &.disabled {
      opacity: .1;
    }

    &:focus {
      border: 1px solid var(--ml-100);
      outline: 1px solid var(--ml-100);
      outline-offset: -4px;
    }
  }

  &.disabled {
    cursor: default;
  }
}
