@import "../../../styles/base/variables";

.version {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 18px;
  bottom: 16px;
  left: 16px;
  position: fixed;
  z-index: 999;
  background-color: #2e2e2e;

  span {
    font-size: 20px;
    color: var(--white);
    text-align: center;
    margin-left: 8px;
  }
}
